
    h2 {
      text-align: center;
      color: #a0522d;
    }

    label {
      display: block;
      margin-top: 20px;
      font-weight: bold;
    }

    input, select, textarea {
      width: 100%;
      padding: 12px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 1rem;
    }

    textarea {
      resize: vertical;
    }

    button {
      margin-top: 25px;
      padding: 12px;
      background-color: #d4a373;
      border: none;
      color: white;
      font-size: 1.1rem;
      border-radius: 6px;
      cursor: pointer;
      width: 100%;
    }

    button:hover {
      background-color: #b66b2e;
    }

main {
      font-family: Arial, sans-serif;
      background-color:#202020;
      padding: 40px;
      color: #333;
    }

header {
    background-colour:#080808;
}

.form-container {
      max-width: 600px;
      margin: 40px auto;
      background-color: white;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    }


______________________________________________________________________________________________________________________________


.overlay {
      background-color: rgba(0, 0, 0, 0.8);
      height: 10%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 60px;
      position: relative;
      z-index: 2;
    }

    .nav a {
      color: white;
      text-decoration: none;
      margin: 0 15px;
      
    }

   .nav a:hover {
    text-decoration: underline;
    text-weight: bold;
   }

    .nav .cta-button {
      background-color: #d4a373;
      padding: 10px 20px;
      border-radius: 5px;
    }

       
_____________________________________________________________________________________________________________________________________________________________
    
